body {
	margin: 0;
	padding: 0;
	border-top: solid #333 8px;
	font-family: verdana, serif;	
	min-height: 100%;
}

img {
	border: none;
}

#menu {
	color: #f26641;
	font-size: 14px;
	float: right;
	list-style: none;
	padding: 0;
	margin: 15px 0 12px 0;
	width: 370px;
}

#menu a,#menu a:VISITED {
	color: #333;
	text-decoration: none;
}

#menu a:HOVER {
	color: #f26641;
}

#menu li {
	float: left;
	width: 150px;
	padding-left: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
	margin-left: 25px;
	border-bottom: solid 1px #e5e5e5;
}

#header {
	overflow: auto;
	border-bottom: dotted #666 2px;
	position: relative;
}

#cheater {
	width: 100%;
	height: 1px;
	background-color: white;
	position: absolute;
	bottom: 12px;
}

#logo {
	margin-top: 55px;
	width: 372px;
}

#content,#header,#bottom-menu-wrapper,#contacts-wrapper {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	padding-bottom: 32px;
	overflow: auto;
}

#contacts-footer {
	font-size: 13px;
	background-color: #f2f2f3;
	color: #333;
	padding: 20px 0 20px 0;
	overflow: auto;
	clear: both;
}

#contacts-wrapper {
	position: relative;
	overflow: auto;
}

#contacts-footer .contact-person {
	float: left
}

#contacts-footer .contact-person h1 {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dotted #333;
}

#contacts-footer .contact-person .name {
	font-weight: bold;
	border-bottom: 1px dotted #333;
	padding: 10px 0 10px 0;
	margin-bottom: 10px;
}

#contacts-footer .communication {
	float: left;
	line-height: 1.5;
	margin-right: 25px;
}

#contacts-footer .address {
	float: left;
	line-height: 1.5;
}

#contacts-footer .address p {
    margin: 0;
    padding: 0;
}

#contributors {
	position: absolute;
	top: 50%;
	right: 0;
	height: 82px;
	margin-top: -41px;
}

#contributors a {
	text-decoration: none;
}

#contributors img {
	vertical-align: middle;
}

#tech {
	margin-left: 15px;
}

#bottom-menu-footer {
	clear: both;
	height: 30px;
	background-color: #e6e7e8;
	line-height: 30px;
	height: 30px;
}

#bottom-menu,#bottom-menu a,#bottom-menu a:VISITED,#bottom-menu .delimeter,#copyright
	{
	color: #949494;
	font-size: 10px;
}

#bottom-menu a:HOVER {
	color: #f26641;
}

#bottom-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bottom-menu li {
	float: left;
}

#bottom-menu .delimeter {
	margin: 0 5px 0 5px;
}

#copyright {
	text-align: right;
}
