.typography p {
	font-family: verdana, serif;
	font-size: 14px;
	color: #333;
	margin-top: 15px;
	margin-bottom: 0;
	line-height: 22px;
}

.typography a {
	color: #336699;
}

.typography a:VISITED {
	color: #69588a;
}

.typography .without-header {
	margin-top: 40px;
}

.typography h2 {
	font-family: verdana, serif;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
}

.typography h3 {
	font-family: verdana, serif;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.typography ul {
	list-style-position: outside;
	font-family: verdana, serif;
	font-size: 14px;
	list-style-image: url("../images/bullet.png");
	color: #333;
	padding-left: 2em;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 22px;
}

.typography ol {
	list-style-position: outside;
	font-family: verdana, serif;
	font-size: 14px;
	color: #333;
	padding-left: 2em;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 22px;
}

.typography li {
	margin-bottom: 5px;
}

.typography img {
	float: right;
	clear: right;
	margin-left: 25px;
	margin-bottom: 25px;
}

.typography .big-image {
	background: transparent url(../images/img_drop_shadow_620px.png)
		no-repeat center bottom;
	padding-bottom: 18px;
	margin-bottom: 7px;
	width: 620px;
}

.typography .medium-image {
	background: transparent url(../images/img_drop_shadow_300px.png)
		no-repeat center bottom;
	padding-bottom: 9px;
	margin-bottom: 16px;
	width: 300px;
}

.typography table {
	border: solid #dcddde 1px;
	border-collapse: collapse;
	margin-top: 5px;
}

.typography td {
	font-family: verdana, serif;
	font-size: 14px;
	color: #333;
	border: solid #c8c8c8 1px;
	padding: 11px;
	line-height: 20px;
}

.typography .clear {
	clear: both;
}

.typography .table-caption {
	font-weight: bold;
}

.typography .left-column {
	float: left;
	width: 40%;
	margin-right: 10%;
	margin-bottom: 30px;	
}

.typography .right-column {
	float: left;
	width: 50%;
	margin-bottom: 30px;	
}